@font-face {
    src: url(Fonts/digital-7.ttf);
    font-family: digital7;
}

.container {
    height: 100%;
    display: flex;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 0;
}

.time {
    font-size: 20rem;
	color: #000;
    font-weight: lighter;
    font-family: digital7;
}

.controls {
    width: 400px;
    margin: 30px auto 0;
    display: flex;
    justify-content: space-between;
}

.phases {
    list-style: none;
    text-align: center;
    padding: 0;
}

.phase {
    color: #EEEEEE
}

button {
    border: none;
    background-attachment: transparent;
    background-color: white;
    color: blue;
    cursor: pointer;
    font-size: 3rem;
    text-transform: uppercase;
    padding: 3px;
    letter-spacing: 2px;
    font-family: inherit;

}
