.myClass {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0;
}

.singleItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.myHeader {
  display: flex;
  justify-content: center;
}

.timestamp {
  margin: 0px 10px 0px 10px;
}
