.testingStuff {
  background: red;
}

.bothSides {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.headerContent {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.headerItem {
  margin: 5px;
}
